{% extends "base.html" %}

{% block title %}Symr | Dev{% endblock %}

{% block content %}
<main class="page">
  <h1>Dev</h1>

  <p class="meta">Requests: {{ "{:,}".format(request_counts.last_24h) }} in 24h &middot; {{ "{:,}".format(request_counts.last_7d) }} in 7d</p>

  <div class="list-group">
    {% for endpoint, name, blurb in dev_pages %}
    <a class="list-group-item list-group-item-action" href="{{ url_for(endpoint) }}">
      <span class="item-name">{{ name }}</span>
      <span class="meta">{{ blurb }}</span>
    </a>
    {% endfor %}
  </div>
</main>
{% endblock %}
